html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*:focus {
  outline: none;
}
.ps-container {
  -ms-touch-action: none;
  touch-action: none;
  overflow: hidden !important;
  -ms-overflow-style: none;
}
@supports (-ms-overflow-style: none) {
  .ps-container {
    overflow: auto !important;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps-container {
    overflow: auto !important;
  }
}
.ps-container.ps-active-x > .ps-scrollbar-x-rail,
.ps-container.ps-active-y > .ps-scrollbar-y-rail {
  display: block;
  background-color: transparent;
}
.ps-container.ps-in-scrolling {
  pointer-events: none;
}
.ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
  background-color: #eee;
  opacity: 0.9;
}
.ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  background-color: #999;
}
.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
  background-color: #eee;
  opacity: 0.9;
}
.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: #999;
}
.ps-container > .ps-scrollbar-x-rail {
  display: none;
  position: absolute;
/* please don't change 'position' */
  border-radius: 4px;
  opacity: 0;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  bottom: 3px;
/* there must be 'bottom' for ps-scrollbar-x-rail */
  height: 8px;
}
.ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  position: absolute;
/* please don't change 'position' */
  background-color: #aaa;
  border-radius: 4px;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  bottom: 0;
/* there must be 'bottom' for ps-scrollbar-x */
  height: 8px;
}
.ps-container > .ps-scrollbar-y-rail {
  display: none;
  position: absolute;
/* please don't change 'position' */
  border-radius: 4px;
  opacity: 0;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  right: 3px;
/* there must be 'right' for ps-scrollbar-y-rail */
  width: 8px;
}
.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  position: absolute;
/* please don't change 'position' */
  background-color: #aaa;
  border-radius: 4px;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  right: 0;
/* there must be 'right' for ps-scrollbar-y */
  width: 8px;
}
.ps-container:hover.ps-in-scrolling {
  pointer-events: none;
}
.ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
  background-color: #eee;
  opacity: 0.9;
}
.ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  background-color: #999;
}
.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
  background-color: #eee;
  opacity: 0.9;
}
.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: #999;
}
.ps-container:hover > .ps-scrollbar-x-rail,
.ps-container:hover > .ps-scrollbar-y-rail {
  opacity: 0.6;
}
.ps-container:hover > .ps-scrollbar-x-rail:hover {
  background-color: #eee;
  opacity: 0.9;
}
.ps-container:hover > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x {
  background-color: #999;
}
.ps-container:hover > .ps-scrollbar-y-rail:hover {
  background-color: #eee;
  opacity: 0.9;
}
.ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y {
  background-color: #999;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html,
body {
  width: 100%;
  min-width: 1070px;
  height: 100%;
  min-height: 470px;
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: Roboto, Calibri, Helvetica, Open Sans;
}
body {
  background-color: #1b1b1b;
  padding-left: 300px;
}
.list {
  position: absolute;
  width: 300px;
  height: 100%;
  top: 0;
  left: 0;
  border-right: 1px solid #249f89;
}
ul {
  list-style: none;
}
ul li {
  width: 100%;
  height: 80px;
  line-height: 80px;
  position: relative;
  border-bottom: 1px solid #249f89;
  background-color: #1b1b1b;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
ul li:nth-child(2n+1) {
  background-color: #202020;
}
ul li:last-child {
  border-bottom: none;
}
ul li a {
  color: #249f89;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 800;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
ul li a::before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 1px solid #249f89;
  border-radius: 50%;
  background: url("./play-pause.png") left 4px center no-repeat transparent;
  margin-right: 10px;
  position: relative;
  top: 8px;
}
ul li:hover {
  background: rgba(36,159,137,0.3);
}
ul li.playing {
  background: #249f89;
}
ul li.playing:first-child {
  border-top: none;
}
ul li.playing a {
  color: #fff;
}
ul li.playing a::before {
  border-color: #fff;
  background-position: right 3px center;
}
main {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
main form {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
}
main form div {
  font-size: 10px;
  color: #fff;
  font-style: italic;
}
main form input[type=text] {
  margin-top: 10px;
  border: 1px solid #249f89;
  background-color: transparent;
  color: #fff;
  font-style: italic;
  height: 40px;
  line-height: 40px;
  width: 80%;
  text-align: left;
  padding-left: 20px;
  vertical-align: bottom;
}
main form input[type=submit] {
  border: 0;
  background-color: #fff;
  height: 40px;
  line-height: 40px;
  color: #249f89;
  text-transform: uppercase;
  font-weight: 800;
  padding: 0 30px;
  vertical-align: bottom;
}
main form input[type=submit]:hover {
  color: #fff;
  background-color: #249f89;
}
.berghain {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  width: 450px;
  height: 330px;
  margin-left: 0 auto;
  background: url("./bg.png") center top no-repeat transparent;
}
.berghain canvas {
  position: relative;
  top: 60px;
  display: block;
  margin: 0 auto;
}
.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: rgba(255,255,255,0.7);
}
