@require "./reset.styl";
@require "./perfect-scrollbar.styl";

$green = #249f89;
$grayDark = #1b1b1b;
$grayLight = lighten($grayDark, 5%);
$gray = #999;
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
html, body {
	width: 100%;
	min-width: 1070px;
	height: 100%;
	min-height: 470px;
	position: relative;
	overflow: hidden;
	padding: 0;
	margin: 0;
	font-family: Roboto, Calibri, Helvetica, Open Sans;
}

body {
	background-color: $grayDark;
	padding-left: 300px;
}

.list {
	position: absolute;
	width: 300px;
	height: 100%;
	top: 0;
	left: 0;
	border-right: 1px solid $green;
	
	.no-element {
		display: block;
		font-style: italic;
		color: $gray;
		text-align:center;
		margin: 20px 0
	}
}

ul {
	list-style: none;
	li {
		width: 100%;
		height: 80px;
		line-height: 80px;
		
		position: relative;
		border-bottom: 1px solid $green;
		
		background-color: $grayDark;
		transition: background-color .3s;
		
		&:nth-child(2n+1) {
			background-color: $grayLight;
		}
		
		&:last-child {
			border-bottom: none;
		}
		
		a {
			color: $green;
			display: block;
			width: 100%;
			height: 100%;
			padding: 0 30px;
			
			text-transform: uppercase;
			text-decoration: none;
			font-weight: 800;
			font-size: 12px;
			
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			transition: color .3s;
			
			&::before {
				content: '';
				display: inline-block;
				width: 25px;
				height: 25px;
				border: 1px solid $green;
				border-radius: 50%;
				background: url('./play-pause.png') left 4px center no-repeat transparent;
				margin-right: 10px;
				position: relative;
				top: 8px;
				
			}
		}
		
		&:hover {
			background: alpha($green, .3);
			a {
				color: $gray;
			}
		}
		
		&.playing {
			background: $green;
			
			&:first-child {
				border-top: none;
			}
			
			a {
				color: #fff;
				&::before {
					border-color: #fff;
					background-position: right 3px center;
				}
			}
		}
	}	
}

main {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	
	form {
		width: 80%;
		margin: 0 auto;
		margin-top: 30px;
		
		div {
			font-size: 10px;
			color: #fff;
			font-style: italic;
		}
		
		input[type=text] {
			margin-top: 10px;
			border: 1px solid $green;
			background-color:transparent;
			color: #fff;
			font-style: italic;
			height: 40px;
			line-height: 40px;
			width: 80%;
			text-align: left;
			padding-left: 20px;
			vertical-align: bottom;
		}
		
		input[type=submit] {
			background-color: #fff;
			height: 40px;
			line-height: 40px;
			color: $green;
			border: 1px solid $green;
			text-transform: uppercase;
			font-weight: 800;
			padding: 0 30px;
			vertical-align: bottom;
			&:hover {
				color: #fff;
				background-color: $green;
				border-color: #fff;

			}
		}
	}
}
.building {
	position: absolute;
	
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	
	width: 450px;
	height: 330px;
	margin-left: 0 auto;
	
	background: url('./bg-inactive.png') center top no-repeat transparent;
	&.active {
		background-image: url('./bg.png');
	}
}

.building canvas {
	position: relative;
	top: 60px;
	display: block;
	margin: 0 auto;
}


.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
	background-color: rgba(255, 255, 255, .7);
}
